*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: black;
}

li{
    list-style: none;
}

.montserrat-uniquifier {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}